<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/task
                        http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <!-- 自动扫描  @Controller-->
    <context:component-scan base-package="com.perenc.xh.lsp.controller.*"/>

    <!--避免IE执行AJAX时，返回JSON出现下载文件 -->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>


    <!-- 定时任务 -->
    <task:executor id="executor" pool-size="5"/>
    <task:scheduler id="scheduler" pool-size="10"/>
    <task:annotation-driven executor="executor" scheduler="scheduler"/>

    <!-- 定义跳转的文件的前后缀 ，视图模式配置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>



    <!--读取配置文件-->
    <bean id="propertyConfigurer" class="com.perenc.xh.commonUtils.utils.properties.PropertiesGetValue">
        <property name="locations">
            <list>
                <value>classpath:properties/system-config.properties</value>
            </list>
        </property>
    </bean>

    <mvc:annotation-driven/>

    <!-- 文件上传配置 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 默认编码 -->
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 上传文件大小限制为31M，31*1024*1024 -->
        <property name="maxUploadSize" value="32505856"/>
        <!-- 内存中的最大值 -->
        <property name="maxInMemorySize" value="4096"/>
    </bean>

    <mvc:annotation-driven/>

    <!-- 自定义拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.perenc.xh.lsp.controller.interceptor.SessionInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/user/loginPage"/>
            <bean class="com.perenc.xh.lsp.controller.interceptor.LoginLogInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.perenc.xh.lsp.controller.interceptor.UrlLoggerInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


    <bean id="interceptResponse" class="com.perenc.xh.lsp.controller.interceptor.InterceptResponse" />

    <!--将日志类注入到bean中。-->
    <bean id="logAspect" class="com.perenc.xh.lsp.controller.admin.operLog.OperLogController"></bean>


    <!--停车场定时器-->
    <bean id="tcTaskController" class="com.perenc.xh.lsp.controller.phone.tcTask.TcTaskController"></bean>





    <context:annotation-config/>
</beans>